
<div class="forum">

<ul class="nav justify-content-end">
  <h1>Forum  |</h1>
  
  <li class="nav-item">
    <a class="nav-link active"><button type="button" class="btn btn-primary" onclick="">Adicionar</button></a>
  </li>
  <h1>|</h1>
  <li class="nav-item">
    <a class="nav-link" href="#"><button type="button" class="btn btn-primary" onclick="">Home</button></a>
  </li>
</ul>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Game Template</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Subtitulo Template</h6>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, vel architecto tenetur porro unde maxime ut accusamus a dolorum ratione modi suscipit veritatis voluptates, nam nesciunt quis ad consequatur enim!</p>
    <button type="button" class="btn btn-primary" onclick="">Comentar</button>
    <button type="button" class="btn btn-secondary" onclick="">Visualizar</button>
    
  </div>

  
</div>

