<div class="signup-card">
    <div class="card-title">
        <h1>Create Account</h1>
        <span>Already have an account? <a routerLink="/login">Sign In</a></span>
    </div>
    <form class="form-group" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <input type="text" name="name" placeholder="Name" formControlName="name">
        <div class="mensagem-erro" *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
            <small *ngIf="loginForm.controls.text.errors?.required">Name is required.</small>
        </div>

        <input type="email" name="email" placeholder="Email" formControlName="email">
        <div class="mensagem-erro" *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
            <small *ngIf="loginForm.controls.email.errors?.required">Email is required.</small>
            <small *ngIf="loginForm.controls.email.errors?.email">Invalid email format.</small>
        </div>

        <input type="password" name="password" placeholder="Password" formControlName="password">
        <div class="mensagem-erro" *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
            <small *ngIf="loginForm.controls.password.errors?.password">Invalid password format.<br>Password should contains a lowercase, a uppercase character and a digit!</small>
        </div>

        <input type="submit" value="Signup">
    </form>
    <div class="card-terms">
        <input type="checkbox"> <span>I have read and agree to the <a href="">Terms of Service</a></span>
    </div>
</div>