    <nav class="sidemenu">
        <ul>
            <li routerLink="/forum" >
                <img src="../assets/favicon-16x16.png" width="20px">
                <span class="logo">Games Review</span>
            </li>
            <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
            <li routerLink="/forum"><mat-icon>sports_esports</mat-icon>Forum</li>
            <a routerLink="/socialmedia" ><li><mat-icon>public</mat-icon>Social Media</li></a>
            <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Log-out</li>
        </ul>
    </nav>