<div class="full-screen-container">
    <div class="login-card">

        <div class="card-title">
            <h1>Login</h1>
            <span>You don't have an account? <a routerLink="/signup">Sign up</a></span>
        </div>
        <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group">

                <input name="email" type="email" formControlName="email" placeholder="Email">

                <!-- Error Message Display -->
                <div class="mensagem-erro" *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
                    <small *ngIf="loginForm.controls.email.errors?.required">Email is required.</small>
                    <small *ngIf="loginForm.controls.email.errors?.email">Invalid email format.</small>
                </div>

                <input type="password" formControlName="password" placeholder="Password">

                <!-- Error Message Display -->
                <div class="mensagem-erro" *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                    <small *ngIf="loginForm.controls.password.errors?.required">Password is required.</small>
                </div>

            </div>
            <button class="login-button">Submit</button>
        </form>

    </div>
</div>