<app-menu></app-menu>

<div class="social-media-container">
  <h1>Redes Sociais</h1>
  <h2>Sidnei Goes</h2>
  <ul>
    <li>
      
        <a href="https://github.com/sidneigoes/" target="_blank">
          <img src="../../assets/github.png" alt="">
          GitHub
        </a>
      
    </li>
    <li>
      <a href="https://www.linkedin.com/in/sidneicgoes/" target="_blank">
        <img src="../../assets/linkedin.png" alt="">
        LinkedIn
      </a>
    </li>
  </ul>
  

<h2>Miguel Martinazzo</h2>
  <ul>
    <li>
      <a href="https://github.com/MiguelMartinazzo" target="_blank">
        <img src="../../assets/github.png" alt="">
        GitHub
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/miguel-martinazzo-4859b621b" target="_blank">
        <img src="../../assets/linkedin.png" alt="">
        LinkedIn
      </a>
    </li>
  </ul>
</div>
<!-- <div class="forum">

  <ul class="nav justify-content-end">
   
    
    <li class="nav-item">
      <img src="" alt="">
  
  
    </li>
  </ul>
  </div>
<div class="card" style="width: 40rem; height: 50rem;">
  <div class="card-body">
    <ul class="nav justify-content-center">
      <li >
      <h5 class="card-title" aria-setsize="">Sidnei Goes</h5>
      <a href="https://github.com/sidneigoes/" target="_blank">
        <h6 class="card-subtitle mb-2 text-body-secondary">GitHub</h6>
      </a>
    </li>
      <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
    </ul>
    
    
    
  </div> -->